//新增字體
@font-face {
  font-family: "源柔ゴシック";
  src: url(fonts/GenJyuuGothicX-Medium.ttf);
}

$fontColor: #8ad0d3;
//字體設定
@mixin fontSet($fontSize, $color) {
  font: $fontSize + px "源柔ゴシック", "sans-serif";
  color: $color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input,
button,
select,
option {
  outline: none;
  border: 0;
  background: none;
}

.main {
  background: #e2e1e1;
}

.pageWrap {
  position: relative;
  height: 100%;
  margin: 0 135px;
  transition: opacity 1s ease-in-out;
  //padding: 100px 0 50px;
  //background: rgb(216, 147, 147);
}

.weatherIMG {
  width: 100%;
  height: 100%;
  background: url(img/sunIMG.svg);
}

.eyes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  .l,
  .r {
    position: absolute;
    display: block;
    width: 11px;
    height: 30px;
    background: url(img/eye.svg) no-repeat center;
  }
  .l {
    top: 45%;
    left: 40%;
  }
  .r {
    top: 45%;
    left: 55%;
  }
}
.searchBTN {
  position: absolute;
  top: 30%;
  left: 8%;
  width: 20px;
  height: 20px;
  //vertical-align: middle;
  background: url(img/searchIMG.svg) no-repeat center;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
  }
}

.firstPage {
  height: 1800px;
  background: #afd1d2;
  padding-top: 100px;

  .firstWrap {
    height: 900px;
    margin: 0 135px;
    //background: rgb(233, 233, 233);
  }
  .weatherWrap {
    position: relative;
    width: 566px;
    height: 566px;
    margin-left: 50%;
  }
  h1 {
    margin-top: 8%;
    @include fontSet(60, #fff);
  }
}

.mainPage {
  position: relative;
  //height: 900px;
  padding-top: 100px;

  .searchBox {
    position: absolute;
    top: 10%;
    right: 135px;
    //width: 200px;
    height: 60px;
    padding: 10px;
    border: 5px solid #cccccc;
    box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset,
      -4px -4px 5px #fff inset;
    z-index: 1;

    input {
      width: 170px;
      height: 100%;
      padding: 10px 10px 10px 30px;
      text-align: center;
      letter-spacing: 10px;
      @include fontSet(20, $fontColor);
    }
  }

  h3 {
    //margin-left: 20px;
    //padding-top: 20px;
    @include fontSet(48, $fontColor);
  }

  .weather {
    //position: absolute;
    //top: 10%;
    margin: 40px 40px 100px;

    .weatherWrap {
      position: relative;
      width: 500px;
      height: 500px;
    }
    .temperature {
      padding-left: 90px;
      margin-top: 50px;
      overflow: hidden;

      .currentT,
      .weatherP {
        float: left;

        ul {
          float: right;
          margin: 35px 0 0 10px;

          li:nth-child(1) {
            border-bottom: 1px solid $fontColor;
          }
        }
      }
      .weatherP {
        margin-left: 5%;
      }

      span {
        @include fontSet(100, $fontColor);
      }

      button {
        cursor: pointer;
        @include fontSet(30, $fontColor);
      }
    }
  }

  .weatherInfo {
    position: absolute;
    top: 138px;
    left: 50%;
    @include fontSet(30, $fontColor);
    line-height: 60px;
    letter-spacing: 7.5px;
  }

  .date {
    position: absolute;
    bottom: 0;
    right: 0;
    @include fontSet(60, $fontColor);
    text-align: right;
    line-height: 60px;
  }
}

.secondPage {
  //height: 1000px;
  padding-top: 100px;
  //background: lightcoral;

  .currentInfo {
    height: 100%;
    margin-bottom: 7%;
    overflow: hidden;

    .searchBox2 {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      padding: 10px;
      border: 5px solid #cccccc;
      box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset,
        -4px -4px 5px #fff inset;
      z-index: 1;

      input {
        width: 160px;
        padding-left: 30px;
        text-align: center;
        letter-spacing: 10px;
        @include fontSet(20, $fontColor);
      }
    }

    .weatherWrap {
      position: relative;
      right: 8%;
      float: right;
      width: 500px;
      height: 500px;
    }

    .localInfos {
      padding: 1.5% 0 0 10%;
      @include fontSet(30, $fontColor);
      line-height: 60px;
      letter-spacing: 7.5px;
    }
  }

  .changeW {
    width: 16%;
    margin: 0 auto;
    //background-color: red;

    button {
      width: 35%;
      cursor: pointer;
      z-index: 1;

      &:nth-child(2) {
        float: right;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .oneWeekW {
    position: relative;
    width: 520px;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 520px;
      height: 265px;
      background: url(img/targetBG.svg) no-repeat center;
    }

    &:after {
      content: "";
      position: absolute;
      top: 40px;
      left: 50%;
      width: 270px;
      height: 230px;
      transform: translateX(-50%);
      background: url(img/targetIMG.svg) no-repeat center;
    }

    #one,
    #three {
      transition: top 0.3s ease-in, left 0.3s ease-out;
    }
    #two,
    #four {
      transition: top 0.3s ease-out, left 0.3s ease-in;
    }

    .oneDayW {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 520px;
      border-radius: 50%;
      text-align: center;

      .wrapW,
      .wrapW2,
      .wrapW3,
      .wrapW4 {
        position: absolute;
        width: 29%;
        height: 17%;
        border: 0;
        outline: none;
        z-index: 1;
        cursor: pointer;
        background: none;

        .currentIMG {
          width: 55%;
          height: 100%;
          background: url(img/sunIMG.svg) no-repeat;
        }

        .dayInfos {
          position: absolute;
          top: 0;
          right: 0;

          p:nth-child(1) {
            @include fontSet(40, white);
          }

          p:nth-child(2) {
            @include fontSet(20, white);
          }
        }
      }
    }
  }

  //.wrapW {
  //  top: 30%;
  //  left: 5%;
  //}

  //.wrapW2 {
  //  top: 5%;
  //  left: 35%;
  //}

  //.wrapW3 {
  //  top: 30%;
  //  left: 65%;
  //}

  //.wrapW4 {
  //  top: 55%;
  //  left: 35%;
  //}
}
