@charset "UTF-8";
@font-face {
  font-family: "源柔ゴシック";
  src: url(fonts/GenJyuuGothicX-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

input,
button,
select,
option {
  outline: none;
  border: 0;
  background: none;
}

.main {
  background: #e2e1e1;
}

.pageWrap {
  position: relative;
  height: 100%;
  padding: 10vh 7.1% 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.weatherIMG {
  width: 100%;
  height: 100%;
  background: url(img/sunIMG.svg);
}

.eyes {
  position: absolute;
  top: 0;
}

.eyes .l,
.eyes .r {
  position: absolute;
  display: block;
  width: 11px;
  height: 30px;
  background: url(img/eye.svg) no-repeat center;
}

.eyes .l {
  top: 45%;
  left: 40%;
}

.eyes .r {
  top: 45%;
  left: 55%;
}

.searchBTN {
  position: absolute;
  top: 30%;
  left: 8%;
  width: 20px;
  height: 20px;
  background: url(img/searchIMG.svg) no-repeat center;
  cursor: pointer;
}

.searchBTN:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.firstPage {
  height: 100vh;
  background: #afd1d2;
}

.firstPage .firstWrap {
  height: 100%;
  padding: 10vh 7.1% 0;
}

.firstPage .weatherWrap {
  position: relative;
  left: 50%;
  width: 58vh;
  height: 58vh;
}

.firstPage .weatherWrap .eyes {
  width: 58vh;
  height: 58vh;
}

.firstPage h1 {
  margin-top: 8%;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #fff;
}

.mainPage {
  position: relative;
  height: 100vh;
}

.mainPage .searchBox {
  position: absolute;
  top: 10%;
  right: 7.1%;
  height: 60px;
  padding: 10px;
  border: 5px solid #cccccc;
  -webkit-box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
          box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
  z-index: 1;
}

.mainPage .searchBox input {
  width: 170px;
  height: 100%;
  padding: 10px 10px 10px 30px;
  text-align: center;
  letter-spacing: 10px;
  font: 20px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage h3 {
  font: 48px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather {
  position: relative;
  margin: 4% 4% 10%;
}

.mainPage .weather .weatherWrap {
  position: relative;
  width: 51.3vh;
  height: 51.3vh;
}

.mainPage .weather .weatherWrap .eyes {
  width: 51.3vh;
  height: 51.3vh;
}

.mainPage .weather .temperature {
  padding-left: 9%;
  margin-top: 5%;
  overflow: hidden;
}

.mainPage .weather .temperature .currentT,
.mainPage .weather .temperature .weatherP {
  float: left;
}

.mainPage .weather .temperature .currentT ul,
.mainPage .weather .temperature .weatherP ul {
  display: inline-block;
  margin-left: 0.02%;
}

.mainPage .weather .temperature .currentT ul li:nth-child(1),
.mainPage .weather .temperature .weatherP ul li:nth-child(1) {
  border-bottom: 1px solid #8ad0d3;
}

.mainPage .weather .temperature .weatherP {
  margin-left: 5%;
}

.mainPage .weather .temperature span {
  font: 100px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather .temperature button {
  cursor: pointer;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weatherInfo {
  position: absolute;
  top: 0%;
  right: 20%;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  line-height: 60px;
  letter-spacing: 7.5px;
}

.mainPage .date {
  position: absolute;
  bottom: 5%;
  right: 7.1%;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  text-align: right;
  line-height: 60px;
}

.secondPage .currentInfo {
  height: 100%;
  margin-bottom: 7%;
  overflow: hidden;
}

.secondPage .currentInfo .searchBox2 {
  position: absolute;
  top: 10%;
  right: 7.1%;
  width: 200px;
  padding: 10px;
  border: 5px solid #cccccc;
  -webkit-box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
          box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
  z-index: 1;
}

.secondPage .currentInfo .searchBox2 input {
  width: 100%;
  padding-left: 25%;
  text-align: center;
  letter-spacing: 0.7rem;
  font: 20px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.secondPage .currentInfo .weatherWrap {
  position: relative;
  right: 8%;
  float: right;
  width: 51.3vh;
  height: 51.3vh;
}

.secondPage .currentInfo .weatherWrap .eyes {
  width: 51.3vh;
  height: 51.3vh;
}

.secondPage .currentInfo .localInfos {
  padding: 1.5% 0 0 10%;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  line-height: 60px;
  letter-spacing: 0.7rem;
}

.secondPage .changeW {
  width: 16%;
  margin: 0 auto;
}

.secondPage .changeW button {
  width: 35%;
  cursor: pointer;
  z-index: 1;
}

.secondPage .changeW button:nth-child(2) {
  float: right;
}

.secondPage .changeW button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.secondPage .oneWeekW {
  position: relative;
  width: 520px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
}

.secondPage .oneWeekW:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 265px;
  background: url(img/targetBG.svg) no-repeat center;
}

.secondPage .oneWeekW:after {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  width: 270px;
  height: 230px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(img/targetIMG.svg) no-repeat center;
}

.secondPage .oneWeekW #one,
.secondPage .oneWeekW #three {
  -webkit-transition: top 0.3s ease-in, left 0.3s ease-out;
  transition: top 0.3s ease-in, left 0.3s ease-out;
}

.secondPage .oneWeekW #two,
.secondPage .oneWeekW #four {
  -webkit-transition: top 0.3s ease-out, left 0.3s ease-in;
  transition: top 0.3s ease-out, left 0.3s ease-in;
}

.secondPage .oneWeekW .oneDayW {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 520px;
  border-radius: 50%;
  text-align: center;
}

.secondPage .oneWeekW .oneDayW .wrapW,
.secondPage .oneWeekW .oneDayW .wrapW2,
.secondPage .oneWeekW .oneDayW .wrapW3,
.secondPage .oneWeekW .oneDayW .wrapW4 {
  position: absolute;
  width: 29%;
  height: 17%;
  border: 0;
  outline: none;
  z-index: 1;
  cursor: pointer;
  background: none;
}

.secondPage .oneWeekW .oneDayW .wrapW .currentIMG,
.secondPage .oneWeekW .oneDayW .wrapW2 .currentIMG,
.secondPage .oneWeekW .oneDayW .wrapW3 .currentIMG,
.secondPage .oneWeekW .oneDayW .wrapW4 .currentIMG {
  width: 50%;
  height: 100%;
  background: url(img/sunIMG.svg) no-repeat center;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos,
.secondPage .oneWeekW .oneDayW .wrapW2 .dayInfos,
.secondPage .oneWeekW .oneDayW .wrapW3 .dayInfos,
.secondPage .oneWeekW .oneDayW .wrapW4 .dayInfos {
  position: absolute;
  top: 0;
  right: 0;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos p:nth-child(1),
.secondPage .oneWeekW .oneDayW .wrapW2 .dayInfos p:nth-child(1),
.secondPage .oneWeekW .oneDayW .wrapW3 .dayInfos p:nth-child(1),
.secondPage .oneWeekW .oneDayW .wrapW4 .dayInfos p:nth-child(1) {
  font: 40px "源柔ゴシック", "sans-serif";
  color: white;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos p:nth-child(2),
.secondPage .oneWeekW .oneDayW .wrapW2 .dayInfos p:nth-child(2),
.secondPage .oneWeekW .oneDayW .wrapW3 .dayInfos p:nth-child(2),
.secondPage .oneWeekW .oneDayW .wrapW4 .dayInfos p:nth-child(2) {
  font: 20px "源柔ゴシック", "sans-serif";
  color: white;
}
/*# sourceMappingURL=weather.css.map */