@charset "UTF-8";
@font-face {
  font-family: "源柔ゴシック";
  src: url(fonts/GenJyuuGothicX-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.main {
  background: #e2e1e1;
}

.pageWrap {
  position: relative;
  height: 100%;
  margin: 0 135px;
}

.eyes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.eyes .l,
.eyes .r {
  position: absolute;
  display: block;
  width: 11px;
  height: 30px;
  background: url(img/eye.svg) no-repeat center;
}

.eyes .l {
  top: 45%;
  left: 40%;
}

.eyes .r {
  top: 45%;
  left: 55%;
}

.firstPage {
  height: 1800px;
  background: #afd1d2;
  padding-top: 100px;
}

.firstPage .firstWrap {
  height: 900px;
  margin: 0 135px;
}

.firstPage .weatherWrap {
  position: relative;
  width: 566px;
  height: 566px;
  margin-left: 50%;
}

.firstPage h1 {
  margin-top: 8%;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #fff;
}

.mainPage {
  position: relative;
  padding-top: 100px;
}

.mainPage input,
.mainPage .searchBTN {
  list-style: none;
  border: 0;
}

.mainPage .searchBox {
  position: absolute;
  top: 10%;
  right: 135px;
  height: 60px;
  padding: 10px;
  border: 5px solid #cccccc;
  -webkit-box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
          box-shadow: 4px 4px 10px #cccccc, -4px -4px 10px #fff, 4px 4px 10px #ccc inset, -4px -4px 5px #fff inset;
  z-index: 1;
}

.mainPage .searchBox input {
  width: 150px;
  height: 100%;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  font: 20px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .searchBox .searchBTN {
  width: 20px;
  height: 20px;
  background: url(img/searchIMG.svg) no-repeat center;
  cursor: pointer;
}

.mainPage .pageWrap {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.mainPage h3 {
  font: 48px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather {
  margin: 40px 40px 100px;
}

.mainPage .weather .weatherWrap {
  position: relative;
  width: 500px;
  height: 500px;
}

.mainPage .weather .weatherWrap .weatherIMG {
  width: 500px;
  height: 500px;
  background: url(img/sunIMG.svg);
}

.mainPage .weather .temperature {
  padding-left: 90px;
  margin-top: 50px;
  overflow: hidden;
}

.mainPage .weather .temperature .currentT,
.mainPage .weather .temperature .weatherP {
  float: left;
}

.mainPage .weather .temperature .currentT ul,
.mainPage .weather .temperature .weatherP ul {
  float: right;
  margin: 35px 0 0 10px;
}

.mainPage .weather .temperature .currentT ul li:nth-child(1),
.mainPage .weather .temperature .weatherP ul li:nth-child(1) {
  border-bottom: 1px solid #8ad0d3;
}

.mainPage .weather .temperature .weatherP {
  margin-left: 5%;
}

.mainPage .weather .temperature span {
  font: 100px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather .temperature button {
  border: 0;
  outline: none;
  cursor: pointer;
  background: none;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weatherInfo {
  position: absolute;
  top: 138px;
  left: 50%;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  line-height: 60px;
  letter-spacing: 7.5px;
}

.mainPage .date {
  position: absolute;
  bottom: 0;
  right: 0;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  text-align: right;
  line-height: 60px;
}

.secondPage {
  padding-top: 100px;
}

.secondPage .currentInfo {
  height: 100%;
  margin-bottom: 7%;
  overflow: hidden;
}

.secondPage .currentInfo .weatherWrap {
  position: relative;
  right: 5%;
  float: right;
  width: 500px;
  height: 500px;
  background: url(img/sunIMG.svg) no-repeat center;
}

.secondPage .currentInfo .localInfos {
  padding: 1.5% 0 0 10%;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  line-height: 60px;
  letter-spacing: 7.5px;
}

.secondPage .oneWeekW {
  position: relative;
  width: 520px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
}

.secondPage .oneWeekW .oneDayW {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 520px;
  text-align: center;
}

.secondPage .oneWeekW .oneDayW .wrapW {
  position: absolute;
  top: 8%;
  left: 34%;
  width: 29%;
  height: 16%;
}

.secondPage .oneWeekW .oneDayW .wrapW .currentIMG {
  height: 100%;
  background: url(img/sunIMG.svg) no-repeat;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos {
  position: absolute;
  top: 0;
  right: 0;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos p:nth-child(1) {
  font: 40px "源柔ゴシック", "sans-serif";
  color: white;
}

.secondPage .oneWeekW .oneDayW .wrapW .dayInfos p:nth-child(2) {
  font: 20px "源柔ゴシック", "sans-serif";
  color: white;
}

.secondPage .oneWeekW:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 265px;
  background: url(img/targetBG.svg) no-repeat center;
}

.secondPage .oneWeekW:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 520px;
  height: 225px;
  background: url(img/targetIMG.svg) no-repeat center;
}
/*# sourceMappingURL=weather.css.map */