@charset "UTF-8";
@font-face {
  font-family: "源柔ゴシック";
  src: url(fonts/GenJyuuGothicX-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.main {
  background: #e2e1e1;
}

.pageWrap {
  position: relative;
  height: 900px;
  margin: 0 135px;
  padding: 100px 0 50px;
}

.eyes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.eyes .l,
.eyes .r {
  position: absolute;
  display: block;
  width: 11px;
  height: 30px;
  background: url(img/eye.svg) no-repeat center;
}

.eyes .l {
  top: 45%;
  left: 40%;
}

.eyes .r {
  top: 45%;
  left: 55%;
}

.firstPage {
  height: 1800px;
  background: #afd1d2;
  padding-top: 100px;
}

.firstPage .firstWrap {
  height: 900px;
  margin: 0 135px;
}

.firstPage .weatherWrap {
  position: relative;
  width: 566px;
  height: 566px;
  margin-left: 50%;
}

.firstPage h1 {
  margin-top: 8%;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #fff;
}

.mainPage {
  height: 900px;
}

.mainPage .searchBox input,
.mainPage .searchBox button {
  list-style: none;
}

.mainPage .searchBox input {
  width: 150px;
  height: 30px;
}

.mainPage .searchBox button {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(img/searchIMG.svg) no-repeat center;
  cursor: pointer;
}

.mainPage .pageWrap {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.mainPage h3 {
  margin-left: 20px;
  padding-top: 20px;
  font: 48px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather {
  position: absolute;
  top: 25%;
  margin-left: 40px;
}

.mainPage .weather .weatherWrap {
  position: relative;
  width: 500px;
  height: 500px;
}

.mainPage .weather .weatherWrap .weatherIMG {
  width: 500px;
  height: 500px;
  background: url(img/sunIMG.svg);
}

.mainPage .weather .temperature {
  padding-left: 90px;
  background: white;
}

.mainPage .weather .temperature .t,
.mainPage .weather .temperature .weatherP {
  float: left;
}

.mainPage .weather .temperature .t ul,
.mainPage .weather .temperature .weatherP ul {
  float: right;
  margin: 35px 0 0 10px;
}

.mainPage .weather .temperature .t ul li:nth-child(1),
.mainPage .weather .temperature .weatherP ul li:nth-child(1) {
  border-bottom: 1px solid #8ad0d3;
}

.mainPage .weather .temperature .weatherP {
  margin-left: 20%;
}

.mainPage .weather .temperature span {
  font: 100px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weather .temperature button {
  border: 0;
  outline: none;
  cursor: pointer;
  background: none;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
}

.mainPage .weatherInfo {
  position: absolute;
  top: 138px;
  left: 50%;
  font: 30px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  line-height: 60px;
  letter-spacing: 7.5px;
}

.mainPage .date {
  position: absolute;
  bottom: 0;
  right: 0;
  font: 60px "源柔ゴシック", "sans-serif";
  color: #8ad0d3;
  text-align: right;
  line-height: 60px;
}

.secondPage {
  height: 1000px;
}

.secondPage .currentW {
  width: 566px;
  height: 566px;
  background-color: white;
}

.secondPage .oneWeekW {
  height: 300px;
}

.secondPage .oneWeekW .wIMG {
  width: 100px;
  height: 100px;
  background-color: white;
}

.secondPage .oneWeekW li {
  float: left;
  width: 100px;
  height: 200px;
  background-color: #8ad0d3;
  text-align: center;
}
/*# sourceMappingURL=weather.css.map */